.topArrangement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.panelDiv{
    background-color: #326770;
    border: 1px solid;
    border-radius: 30px;
    margin: 20px;
}